# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Meson
meson-log.txt
build.dat
coredata.dat
install.dat
meson_benchmark_setup.dat
meson_test_setup.dat
sanitycheckcpp.cc
.ninja_deps
.ninja_log
build.ninja

# Misc
blackjack
*.bin

# IDE-specific files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.vscode/

# VSCode specific ignores
.vscode/
