# Prerequisites
*.d
.vs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeScripts/
Testing/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Meson
meson-log.txt
build.dat
coredata.dat
install.dat
meson_benchmark_setup.dat
meson_test_setup.dat
sanitycheckcpp.cc
.ninja_deps
.ninja_log
build.ninja

# Misc
blackjack
*.bin

# IDE-specific files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sw?
*.vscode/

# Visual Studio specific ignores
.vs/              # Visual Studio temporary files and cache
*.suo             # Solution User Options (user-specific settings)
*.opendb          # IntelliSense database
*.VC.db           # Visual Studio code browsing database
*.VC.opendb       # Visual Studio open database

# Ignore Visual Studio build directories
out/
Debug/
Release/
x64/
build/            # Custom build directories, e.g., from CMake

# Keep the solution file
!*.sln            # Allow saving the solution file
